/* src/components/Home.css */

  
  .description-column {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    background-color: #f7f7f7;
  }
  
  .modal-footer {
    background-color: #f7f7f7;
  }
  